<div class="row">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/Parties/APIPartyList">Parties</a>
        </li>
        <li class="list-group-item">
            <a href="/President/APIPresidentList">Presidents</a>
        </li>
    </ul>
</div>